<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Let Me Cook For You
            </a>
        </div>
        <form class="navbar-form navbar-left" data-ng-if="!vm.isLoggedIn()">
            <div class="form-group">
                <label class="sr-only" for="username">Username</label>
                <input ng-model="vm.username" type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input ng-model="vm.password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button ng-click="vm.login()" type="submit" class="btn btn-primary">Sign In</button>
        </form><a class="navbar-text navbar-left" data-ui-sref="search"> <span class="glyphicon glyphicon-search"></span> </a>
        <p data-ng-if="vm.isLoggedIn()" class="navbar-text navbar-right">
            Welcome, <a ui-sref="profile" class="navbar-link">{{ vm.user.username}}!</a>
            <button data-ng-click="vm.logout()" class="btn btn-default">logout</button>
        </p>

    </div>
</nav>