/api/app/config/parameters.yml
/api/build/
/api/phpunit.xml
/api/var/*
/atlassian-ide-plugin.xml
!/api/var/cache
/api/var/cache/*
!api/var/cache/.gitkeep
!/api/var/logs
/api/var/logs/*
!api/var/logs/.gitkeep
!/api/var/sessions
/api/var/sessions/*
!api/var/sessions/.gitkeep
!api/var/SymfonyRequirements.php
/api/vendor/
/api/web/bundles/
/client/app/components
/.idea/
/api/web/uploads/event
!api/web/uploads/event/.gitkeep
/api/web/uploads/profile
!api/web/uploads/profile/.gitkeep
/api/var/SymfonyRequirements.php
/api/web/config.php
/api/bin/symfony_requirements
/api/composer.lock
