<div class="jumbotron">
    <div class="row event-details">
        <div class="col-xs-2 col-md-2">
            <img src="/api/uploads/profile/{{vm.event.host.profile_picture}}" alt="">
        </div>
        <div class="col-xs-8 col-md-8 info">
            <h2 class="title">{{vm.event.meal_name }}</h2>
            <p class="desc">{{vm.event.description }}</p>
            <ul class="row">
                <li ng-if="vm.isHost()" class="col-xs-1 col-md-1"><a ng-click="vm.attend()" href=""><span class="fa fa-check"></span> Attend</a></li>
                <li class="col-xs-1 col-md-1"><a href="#website"><span class="fa fa-user"></span> {{vm.event.host.username}}</a></li>
                <li class="col-xs-1 col-md-1"><span class="fa fa-clock-o"></span> {{vm.event.when | date : 'HH:mm'}}</li>
                <li class="col-xs-1 col-md-1"><span class="fa fa-home"></span> {{vm.whose_place[vm.event.whose_place] }}</li>
                <li class="col-xs-1 col-md-1"><span class="fa fa-money"></span> {{vm.who_pays[vm.event.who_pays] }}</li>
                <li ng-if="vm.event.who_pays!=1" class="col-xs-1 col-md-1"><span class="fa fa-usd"></span> {{vm.event.cost_estimate }}</li>
                <li class="col-xs-2 col-md-2"><span class="fa fa-map-marker"></span> Near {{ vm.event.city }}</li>
                <li class="col-xs-4 col-md-4"><span class="fa fa-tags"></span> <span ng-repeat="tag in vm.event.tags">{{tag.name}} </span></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6">
    <div id="carousel-event" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-event" data-slide-to="0" class="active"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-class="{active: picture.id == 1}" data-ng-repeat="picture in vm.event.gallery">
                <img ng-src="/api/uploads/event/{{picture.name}}" alt="...">
                <div class="carousel-caption">
                    ...
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="" role="button" data-target="#carousel-event" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="" role="button" data-target="#carousel-event" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6">
<form name="form">
    <button class="btn btn-success" ngf-select ng-model="vm.file" name="file" ngf-pattern="'image/*'"
         ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
         ngf-resize="{width: 800, height: 600}">Add new image</button>
    <button class="btn btn-info" type="submit" ng-click="vm.submit()">submit</button>
    <div>
        <img ngf-thumbnail="vm.file" class="preview-thumb">
    </div>
</form>
</div>