<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="well well-sm">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <img src="/api/uploads/profile/{{vm.user.profile_picture}}" alt="" class="img-rounded img-responsive" />
                </div>
                <div class="col-sm-6 col-md-8">
                    <h4>{{vm.user.username}}</h4>
                    <small class="user-location"><cite title="{{vm.user.city}},{{vm.user.country.name}}">{{vm.user.city}},{{vm.user.country.name}} <i class="glyphicon glyphicon-map-marker">
                    </i></cite></small>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i>{{vm.user.email}}
                        <br />
                        <i class="glyphicon glyphicon-plus"></i><a href="#" data-ui-sref="eventadd">Add event</a></p>

                    <div ng-if="vm.event.gallery.length>0" id="carousel-user" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-user" data-slide-to="0" class="active"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item" ng-class="{active: key == 0}" data-ng-repeat="(key, picture) in vm.gallery">
                                <img ng-src="/api/uploads/event/{{picture.name}}" alt="...">
                                <div class="carousel-caption">
                                    ...
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="" role="button" data-target="#carousel-user" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="" role="button" data-target="#carousel-user" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
    <ul class="event-list">
        <li ng-repeat="event in vm.events">
            <time datetime="{{event.when | date : 'd-MMM-yyy'}}"  data-ui-sref="event({eventId: event.id})">
                <span class="day">{{event.when | date : 'd'}}</span>
                <span class="month">{{event.when | date : 'MMM'}}</span>
                <span class="year">{{event.when | date : 'yyyy'}}</span>
                <span class="time">{{event.when | date : 'HH'}}</span>
            </time>
            <div class="info">
                <h2 class="title" data-ui-sref="event({eventId: event.id})">{{event.meal_name }}</h2>
                <p class="desc">{{event.description }}</p>
                <ul>
                    <li style="width:25%;"><a href="#website"><span class="fa fa-user"></span> {{event.host.username}}</a></li>
                    <li style="width:25%;"><span class="fa fa-clock-o"></span> {{event.when | date : 'HH:mm'}}</li>
                    <li style="width:25%;"><span class="fa fa-map-marker"></span> Near {{ event.city }}</li>
                    <li style="width:25%;"><span class="fa fa-tags"></span> <span ng-repeat="tag in event.tags">{{tag.name}} </span></li>
                </ul>
            </div>
        </li>
    </ul>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-6">
    <form name="form">
        <button class="btn btn-success" ngf-select ng-model="vm.file" name="file" ngf-pattern="'image/*'"
                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                ngf-resize="{width: 200, height: 200}">Change profile picture</button>
        <button class="btn btn-info" type="submit" ng-click="vm.submit()">submit</button>
        <div>
            <img ngf-thumbnail="vm.file" class="preview-thumb">
        </div>
    </form>
</div>